<!-- Import JQuery.-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<center>
	<h1>Weather Map</h1>

	<!-- City weather query input.-->
	<%= form_tag("/map/getWeather", method: 'get', :remote => true) do %>
		<%= text_field_tag(:city_query) %>
		<%= submit_tag("Submit") %>
	<% end %>

	<!-- City weather query.-->
	<!--<input id="city_query" type="textfield" style="width: 300px" 
										 placeholder="<City>,<Country Abbreviation>" 
										 onkeydown="updateMapOnEnter(event.keyCode)" />
	<input id="city_query_submit" type="Button" value="Submit" onClick="updateMapWithInput()"/>-->

	<!-- The google maps map -->
	<script async defer src="<%= @map %>"></script>
	<div id="map"></div>

	<!-- Table of weather and polution in cities.-->
	<table style="border: solid 1px black;">
		<tr>
			<th>City</th>
			<th>Weather</th>
			<th>Temperature (C)</th>
			<th>Wind speed</th>
		</tr>

		<!-- Loop over the city entries and display weather information.-->
		<% @weather.each do |w| %>
			<tr>
				<!-- print city name, weather, temperature, and wind speed.-->
				<th onclick="setMapByCoordinates(<%= w[1][3] %>,<%= w[1][4] %>)"><%= w[0] %></th>
				<th><%= w[1][0] %></th>
				<th><%= w[1][1] %></th>
				<th><%= w[1][2] %></th>
			</tr>
		<% end %>
	</table>
</center>
